[submodule "master"]
	path = master
	url = git://github.com/samvermette/SVPullToRefresh.git
[submodule "Dependencies/SVProgressHUD"]
	path = Dependencies/SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
[submodule "Dependencies/GSBookShelf"]
	path = Dependencies/GSBookShelf
	url = git://github.com/ultragtx/GSBookShelf.git
[submodule "Dependencies/R9HTTPRequest"]
	path = Dependencies/R9HTTPRequest
	url = git://github.com/glassonion1/R9HTTPRequest.git
